#!/usr/bin/make -f

%:
	dh $@ --with systemd  --with sodeps --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=RelWithDebInfo

override_dh_systemd_start:
	dh_systemd_start -psimplelogin --no-start -r simplelogin.service

.PHONY: override_dh_auto_test
